<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="../formatação/main.css"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BullWorth - Sistemas de informação</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../formatação/main.js"></script>
    <link rel="shortcut icon" href="../imagens/icon.ico" type="image/x-icon" />

</head>

<nav class="navbar navbar-expand-md fixed-top navbar navbar-light  main-nav" id="navbar-color">
  
  <div class="container">
      <ul class="nav navbar-nav"
          <a class="navbar-brand" href="#"> <img id="logo" alt="Logo" src="../imagens/icon.ico" width="35" height="40" class="align-top"></a>
          <li class="nav-item">
              <a class="nav-link" id="font-navbar" href="../principais/index.html">Academia BullWorth</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" id="font-navbar"  href="../principais/noticias.html">Notícias</a>
          </li>
          <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="font-navbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cursos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div class="dropdown-header">Cursos presenciais</div>
                  <a class="dropdown-item" href="../cursos/curso_banco_de_dados.html">Banco de dados</a>
                  <a class="dropdown-item" href="../cursos/curso_analise_des_sistemas.html">Análise e desevnvolvimento de sistemas</a>
                  <a class="dropdown-item" href="../cursos/curso_sistema_informacao.html">Sistema de informação</a>
                  <div class="dropdown-header">Em breve</div>
                  <a class="dropdown-item disabled"  href="#">Engenharia da computação</a>
                  <a class="dropdown-item disabled" href="#">Ciência da computação</a>
                </div>
      </ul>
      
      <!-- Area desativada por hora.
      <ul class="nav navbar-nav">
          
            <li class="nav-item">
              <a class="nav-link" id="font-navbar" href="about.html">Sobre</a>
          </li>
        
          <li class="nav-item">
              <a class="nav-link" id="font-navbar" href="#">Entrar/Registrar</a>
          </li>
          
      </ul>
      -->
  </div>
</nav>
<body>


  <div id="site">  
 
        
        <div id="col1">&nbsp;</div>
            <div id="col2">&nbsp;
                <div align = "center" id="topo"><h1>Sistemas de Informação</h1></div>
                
                    <strong>      
                    <p>O curso em Sistemas da Informação foi desenvolvido  para que desde o inicio os alunos tenham a base para atuarem na area.</p>
                    <p>Os conteudos da disciplina vão de Hardware a Inteligencia Artificial, junto ao curso as materias de Engenharia de Software e Busines Intelligence.  </p>
                    </strong>

                    <div align = "center" ><h2>Disciplinas</h2></div>

                    <table border ="1" align = "center" bgcolor = #947f32></br>
                        <tr>
                            <th>Comunicação e Expressão </th>
                            <th>Introdução a Internet das Coisas</th>
                        </tr>
            
                        <tr>
                            <th>Fundamento de Banco de Dados</th>
                            <th> Linguagem de Programação</th>
            
                        </tr>
                        
                        <tr>
                            <th>Lógica de Programação</th>
                            <th>Matemática Aplicada</th>              


                        </tr>
            
                       
            
            
                     </table>
            </div>
        <div id="col3">&nbsp;</div>
      </div>


      <footer> Direitos Reservados © Bullworth Academy - 2019
        </footer>
</footer>
</body>
</html> 