body{
    background-color:  #97790b !important;
    background: url("../imagens/BG.png") no-repeat 50% 38% fixed;
    background-size: 47%;
    height: 100vh;
}

.A1{
    background-color:  #262c3a;
  }

  
.A2{
    background-color:  #919191;
  }
  
/*-Configurações navbar-*/
#navbar-color{
  background-color: #242525
}
#font-navbar{
  color:#ffffff
}



  #site { width: 100%; background-color:#262c3a; }
  #topo { width: 100%; height: 22vh; padding: 9vh; background-color:#919191;}
  #news { width: 100%; padding: 10vh; background-color:#91919100;}
  #col1 { width: 10%; float: left; height: 70vw; background-color:#262c3a; }
  #col2 { width: 80%; float: left; height: 100%; }
  #col3 { width: 10%; float: left; height: 70vw; background-color:#262c3a;}

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262c3a;
    color: white;
    text-align: center;
    font-size: 10px;
  }

.ctr{ text-align: center;
    padding: 2%
}

.pdg{ text-align: center;
  padding: 2%
}


fnt1{
  font-size: 3vw;
}

fnt1{
  font-size: 3vw;
}

